<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/materialize.css' }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' }}">
  </head>
  <body>
    <section class="page-header">
    {% include nav.html %}
<h1 class="project-name p-texts">{{ site.title | append: ' by <a href="https://boaheninc.com" target="_blank">Boahen Fred</a>'}}</h1>
      <h2 class="project-tagline">Built with all the love in the world</h2>
    </section>
    <section class="col s12">
      {{ content }}
      <footer class="site-footer"> 
        {% include footer.html %}
      </footer>
    </section>
 </body>
</html>
