---
layout: default
---

<div class="container col s12">
        <div class="row">
            <div class="col s12">
      <section class="col s12">
    <!-- Content -->
                <article class="col s12 p-texts">
                <h5>{{ page.title }} <span style="color:grey;">dated {{ page.date | date_to_string }}</span></h4>
<div class="post">
  {{ content }}
</div>
{% include disqus.html %}
                </article>
    <!-- EO Content -->
      </section>
      </div>
      </div>
      </div>

